 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Tryouts is just a name under which I make Android apps. Since I'm a beginner they are not too complex. However I do hope that Tryouts apps are – and will continue to be in the future – fun and entertaining!</p>
                </div>
                <div class="col-lg-4">
                    <p>Download and test apps yourself! I would love to know your opinion. Contact form is just below. If that is just too much of a commitement, you can always leave your opinion on Google Play. Thanks! </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Tryouts on Google Play
                    </a>
                </div>
            </div>
        </div>
    </section>
